name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: rustup
      run: rustup update stable
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose --features testcontainers
  build_and_bench:
    name: Bench
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - name: rustup
        run: rustup update stable
      - name: measure benchmarks on main
        uses: actions-rs/cargo@v1
        with:
          command: bench
      - name: upload benchmark report
        uses: actions/upload-artifact@v4
        with:
          name: Benchmark report
          path: target/criterion/